@import "./Reset.scss";
@import "./Constants.scss";
@import "./Typography.scss";
@import "./Mixins.scss";

/************************* VARIABLES ***************************/
$bg: #E5E5E5;

/************************* BASE ***************************/
body, html {
  background-color: $bg;
  position: relative;
  height: 100%;
}

.sideBar {
  width: 7%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  border-right: 1px solid black;
  background-color: transparent;
  z-index: 1;

  p {
    @include transform(rotate(-90deg));
    width: max-content;
    margin: 0;
    text-transform: uppercase;
  }

  img {
    width: 4rem;
  }
}

#gradient {
  /* width: 50vw;
  height: 50vw; */
  width: 800px;
  height: 800px;
  background-image: url("../images/gradient.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: var(--x);
  top: var(--y);
  // z-index: -1;
}

.landing {
  position: relative;
  width: 93%;
  margin-left: 7%;
  padding: 8rem 13rem;
  box-sizing: border-box;
}

#ellipse {
  width: 47rem;
  height: 22rem;
  background-image: url("../images/ellipse.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top: 0;
  left: -2rem;
  display: inline-block;
  text-align: center;
  line-height: 2;
}

/************************* NAV ***************************/
.nav {
  position: fixed;
  right: 5rem;
  bottom: 0;
  width: 40rem;
  height: auto;
  border: 1px solid black;
  background-color: $bg;
  transition: 0.3s;

  div a {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 2rem 4rem;
    border-top: 1px solid black;
    text-decoration: none;
    color: inherit;
  }
}

.navHeader {
  margin: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  #minimizeBtn:hover {
    cursor: pointer;
  }
}

#x {
  background: linear-gradient(90deg, #F08E34 0%, rgba(52, 240, 57, 0.4), transparent);
}