@import "./Fonts.scss";

@media only screen and (max-width: 500px) {
  body {
    font-size: 4vw;  
  }

  h1 {
    font-size: 9vw;
  }

  h2 {
    font-size: 6vw;
    line-height: 7vw;;
  }
  
  .landing span {
    font-size: 4.6vw;
  }

  #levelup {
    font-size: 4.1vw;
  }

  .overviewDetails li p {
    font-size: 4vw;
  }

  .outcome {
    li::before {
      font-size: 6.5vw;
    }
  }
}